@import '../../styles/scss/variables.scss';
.adWrapper {
border-radius: 6px;
background-color: $white;
padding:10px;
&:hover {
    border: 1px solid $blue-2;
}
}
.adCategorySummary{
    font-family: 'Inter-Light';
    color: $blue-2;
    margin-bottom:15px;
    font-size:18px;
    text-transform: capitalize;
}
.ad {
    display:flex;
    flex-direction:row;
    
}
.adImage {
    img{
        width:220px;
        height:200px;
        object-fit: fill;
        border-radius: 4px;
    }
}
.adDetails {
    padding-left:15px;
}
.adDescription{
    font-family: 'Inter-Regular';
    font-size: 15px;
    color:$blue-2;
    padding:10px 0px;
}
.adTitle{
    font-family: 'Inter-Medium';
    font-size: 20px;
    color:$blue-2;
}
.adBtns {
    // max-width: 70%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        background-color: $blue-5;
        font-family: 'Inter-Medium';
        padding:5px 20px;
        color:$white;
        border-radius: 20px;
        cursor: pointer;
    }
    
}