@import '../../../styles/scss/variables.scss';
.nav {
 display:flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 background-color: $blue-2;
 padding-top: 10px;
}
.logo {
    font-size:40px;
    font-family: 'Inter-Black';
}
.left {
  min-width:60%;
}
.left, .right {
    display:flex;
    list-style: none;
    align-items: center;
}
.navItem {
    padding-right:10px;
    color: $white;
    font-family: 'Inter-Light';

}
.right ul li {
    padding-right:10px;

}
.addPostBtn {
    background-color: $blue-4;
    padding:5px 10px;
    margin-right:5px;
    a {
        color:$white;
        p{
            color:$white;
        }
    }
}
.btnWrapper{
    color:$white;
    cursor: pointer;
    img{
        padding-right:5px;
    }
}

.countryCollection {
    display:flex;
    flex-direction: row;
    align-items: center;
}
