@import '../../../styles/scss/variables.scss';
.nav {
 display:flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 padding: 20px 0 20px 0px;
}
.logo {
    font-size:40px;
    font-family: 'Inter-Black';
}
.left, .right {
    display:flex;
    list-style: none;
    align-items: center;
}
.navItem {
    padding-right:10px;
    color: $blue-2;
    font-weight: bold;
    font-family: 'Inter-Light';

}
.right ul li {
    padding-right:10px;

}
.addPostBtn {
    background-color: $blue-4;
    border-radius: 6px;
    padding:10px 15px;
    margin:0 15px 0 5px;

    a {
        color:$white;
        p{
            color:$white;
        }
    }
}
.btnWrapper{
    color:$white;
    cursor: pointer;
    img{
        padding-right:5px;
    }
}

.countryCollection {
    display:flex;
    flex-direction: row;
    align-items: center;
}
