.banner {
    display:flex;
    justify-content: center;
    align-items: center;
    // padding:0px 100px;
}
.searchArea {
    min-width: 500px;
    padding-right: 15px;
}
.location {
    padding-right:15px;
}
.actionBtn {
    flex-basis: 10%;
}
