@import '../../../styles/scss/variables.scss';
.dashboardNav, .menuItems {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px
}
.logo {
  font-family: 'Inter-Bold';
  font-size: 24px;
  line-height: 30px;
  color:$blue-2;
}
.menuItems {
  div {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
      p {
        padding-right:8px;
        font-family: 'Inter-Light';
        font-size: 18px;
        line-height: 24px;
        color: $blue-2;
      }
      img {
        padding-right:5px;
      }
  }
}
