@font-face {
    font-family: "Inter-Thin";
    src: url("/fonts/Inter-Thin.ttf");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter-ExtraLight";
    src: url("/fonts/Inter-ExtraLight.ttf");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter-Light";
    src: url("/fonts/Inter-Light.ttf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter-Regular";
    src: url("/fonts/Inter-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter-Medium";
    src: url("/fonts/Inter-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter-SemiBold";
    src: url("/fonts/Inter-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter-Bold";
    src: url("/fonts/Inter-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter-ExtraBold";
    src: url("/fonts/Inter-ExtraBold.ttf");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter-Black";
    src: url("/fonts/Inter-Black.ttf");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
  }

