@import './variables.scss';
.nav {
    display:flex;
    flex-direction: column;
    border-radius: 6px;
    // drop shadow
      box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
      -webkit-box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
      -moz-box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
    &__main{
        display:flex;
        flex-direction: column;
        &--item{
            list-style: none;
            cursor: pointer;
            text-transform: capitalize;
            position:relative;
            font-size: 15px;
            padding:5px 0 ;
            line-height: 21px;
            &:hover{
                text-decoration: underline;
            }
         p{
             font-size:15px;
             font-family: 'Inter-Light';
             line-height: 21px;
             padding-left:15px;
             color:$blue-2;
         }
        }
        &--wrapper{
            position: absolute;
            top:0%;
            left: 100%;
            background-color: $white;
            border-radius: 6px;
            z-index:99999;
            margin-left:11px;
            min-width:317px;
            // drop shadow
            box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
            -webkit-box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
            -moz-box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
            .title{
                padding:15px 10px 15px;
                white-space: nowrap;
                border-bottom:dashed 1px $blue-2;
                font-family: 'Inter-Light';
                &:hover {
                    text-decoration: underline;
                }
            }
            > .title:last-child{
                border-bottom: none;
            }

        }
    }

}
