@import '../../../../styles/scss/variables.scss';
.registration {
    margin:15px 50px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    padding:15px;
    border-radius: 6px;
    // drop shadow
    box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(63,92,118,0.75);
}
.registrationTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{

    font-family: 'Inter-SemiBold';
    font-size: 18px;
    line-height: 24px;
    color:$blue-2;
}
.description{
    font-family: 'Inter-Regular';
    font-size: 13px;
    line-height: 18px;
    color:$blue-2;
}
.formRegistration{
 width:70%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.submitBtn {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left:35%;
    button {
        width:50%;
        font-family: 'Inter-SemiBold';
    }
}
.googleApi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.separator{

}
.gLoginBtn{
    button {
        font-family: 'Inter-Medium';
        width:100%;
    }
}
.separator,.modalTrigger{
    padding:10px 0px;
    font-family: 'Inter-Regular';
    font-size: 13px;
    line-height: 18px;
    color:$blue-2;
}
.modalTrigger {
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
