@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import './scss/reset.scss';
@import './scss/fonts.scss';
@import './select.scss';
@import './scss/sidenav.scss';
@import './scss/checkbox.scss';
@import './scss/slider.scss';
@import './Textarea.scss';
@import "~react-datepicker/dist/react-datepicker.css";
$theme-colors: (
  'primary': #145bea,
  'secondary': #833bec,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #c0ccda,
  'dark': #001738,
);

html,
body {
  padding: 0;
  margin: 0;
  height:100%;
  background-color:#F4F6FA;
}
p{
  margin:0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// global comp styles

