@import './scss/variables.scss';
textarea {
  outline: none;
  resize: none;
  overflow: hidden;
  border-radius: 6px;
  width:100%;
  padding:20px 15px;
  font-family: 'Inter-Light';
  font-size: 15px;
  line-height: 20px;
  color: $blue-2;
  border-color: $blue-2;
  &::placeholder {
    font-family: 'Inter-Light';
    font-size: 15px;
    line-height: 20px;
    color: $blue-2;
  }
}
